.board {
  height: $board-size;
  width: $board-size;
  position: relative;
  float: left;
  cursor: pointer;
  user-select: none;
}

.flip {
  transform: rotate(180deg);
}

.square {
  display: inline-block;
  float: left;
  height: $square-size;
  width: $square-size;
  box-sizing: border-box;
  padding: $square-padding;

  &.white {
    background-color: darken($white-square, 1%);
  }
  &.black {
    background-color: lighten($black-square, 1%);
  }
  &.mark {
    padding: 1px;
    border: $square-padding - 1 solid rgb(260, 260, 0);
  }
  .piece {
    height: $square-size - 2 * $square-padding;
    width: $square-size - 2 * $square-padding;
    pointer-events: none;
  }
}

.promotion-model {
  position: absolute;
  top: 3 * $square-size;
  left: $square-size;
  border: 2px solid darken(grey, 10%);
  border-radius: 3px;
  background-color: rgb(230, 230, 230);

  box-sizing: border-box;
  height: $promotion-model-height;
  width: $promotion-model-width;
  padding: $square-size * 0.3 $square-size * 0.1;

  .promotion-piece {
    display: inline-block;
    box-sizing: border-box;
    height: $square-size * 1.4;
    width: $square-size * 1.4;
    padding: $square-size * 0.2;

    .piece-image {
      height: $square-size;
      width: $square-size;
    }

    &:hover {
      padding: ($square-size * 0.2) - 1;
      border-color: darken(rgb(230, 230, 230), 30%);
      border: 1px solid darken(rgb(230, 230, 230), 40%);
      border-radius: 1px;
    }
  }
}
