.board {
  height: $board-size;
  width: $board-size;
  position: relative;
  float: left;
  cursor: pointer;
  user-select: none;
}

.flip {
  transform: rotate(180deg);
}

.square {
  display: inline-block;
  float: left;
  height: $square-size;
  width: $square-size;
  box-sizing: border-box;
  padding: $square-padding;

  &.white {
    background-color: darken($white-square, 1%);
  }
  &.black {
    background-color: lighten($black-square, 1%);
  }
  &.mark {
    padding: 1px;
    border: $square-padding - 1 solid rgb(260, 260, 0);
  }
  .piece {
    height: $square-size - 2 * $square-padding;
    width: $square-size - 2 * $square-padding;
    pointer-events: none;
  }
}
